* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray !important;
}
.filters {
  background-color: white;
}
.my-btn {
  background-color: rgb(67, 211, 23);
  border-radius: 10px;
  color: #fff;
}
.my-btn:hover {
  background-color: rgb(43, 121, 19);
}
.filters hr {
  width: 80%;
  border: 1px solid rgb(2, 2, 80);
}
.filters p {
  color: rgb(2, 2, 80);
}
.item {
  background-color: #fff;
}
